@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Teko:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Teko', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-dark: #222A36;
  --color-light: #ffffff;
  --color-accent: #ff4500;
  --color-hover: #fd7645;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: var(--color-light);
  transition: 0.3s;
}

/*DARK MODE*/
body.dark {
  background: var(--color-dark);
  color: var(--color-light)
}

.darkInput { display: none;}

.switch {
  overflow: hidden;
  display: flex;
  width: 60px;
  /* height: 30px; */
  padding: 3px;
  border-radius: 15px;
  background: var(--color-dark);
  cursor: pointer;
  transition: box-shadow 250ms linear;
}

.switch:hover {
  box-shadow: 0 0 10px var(--color-accent);
}

.handle {
  position: relative;
  width: 24px;
  height: 24px;
  transition: 0.3s;
}

.handle::before,
.handle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.handle::before {
  background: var(--color-light);
}

.handle::after {
  background: var(--color-light);
  opacity: 0;
  translate: -7px -7px;
}

body.dark .switch {
  background: var(--color-light);
}

body.dark .handle { translate: 30px 0; }

body.dark .handle::after { opacity: 1; }

body.dark .handle::before {
  background: var(--color-dark);
}
/*END DARK MODE*/

h1, h2, h3, h4, p, ul{
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


